<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset = "utf-8">
      <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">
      <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <title>BlueCollar App</title>
   </head>
   <body>
   <div class="container">
       <nav class = "navbar navbar-expand-sm navbar-dark bg-secondary">
           <a class = "navbar-brand" href = "/static">BlueCollar App</a>
           <button class = "navbar-toggler" type = "button" data-toggle = "collapse"
                   data-target = "#navbarSupportedContent"
                   aria-controls = "navbarSupportedContent" aria-expanded = "false"
                   aria-label = "Toggle navigation">
               <span class = "navbar-toggler-icon"></span>
           </button>

           <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
               <ul class = "navbar-nav mr-auto">
                   <li class = "nav-item">
                       <a class = "nav-link active" href = "/static">HOME</a>
                   </li>
                   <li class = "nav-item">
                       <a class = "nav-link" href = "service"> SERVICE</a>
                   </li>
                   <li class = "nav-item ">
                       <a class = "nav-link" href = "about">ABOUT US</a>
                   </li>
                   <li class = "nav-item ">
                       <a class = "nav-link" href = "contact">CONTACT US</a>
                   </li>
               </ul>

           </div>
       </nav>
   <div class="container-fluid" id="about-us">
       <center > <h>Meet Our Team Expert</h></center>
       <center> <img th:src="@{/images/logo.png}" alt="" width="300px"></center>
       <center><h4>If the workers of the world want to win, all they have to do is recognize their own solidarity</h4></center>
      <div class="container">
          <table class="table">
              <thead class = "thead-light">
              <tr>
                  <th class="text-left">User 👤</th>
                  <th class="text-left">Job title ☑</th>
                  <th class="text-left">Location 📍</th>
                  <th class="text-left">Telephone ☎</th>
                  <th class="text-left">Posted Date 📅</th>
                  <th class="text-left">Apply Job 🧑‍💼 </th>

              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>User1</td>
                  <td> Plumber </td>
                  <td > Iowa,FA</td>
                  <td>012345678</td>
                  <td>10/25/2022</td>
                  <td><a href="registrationForm" class="btn btn-info" role="button"> Apply✅</a></td>
              </tr>
              <tr>
                  <td>Hidri</td>
                  <td> Welder </td>
                  <td > Ottuma,IA</td>
                  <td>1645464789</td>
                  <td>10/24/2022</td>
                  <td><a href="registrationForm" class="btn btn-info" role="button"> Apply✅</a></td>
              </tr>
              <tr th:each="jobb: ${listjob}">
                  <td >[[${jobb.user}]]</td>
                  <td >[[${jobb.jobTitle}]]</td>
                  <td >[[${jobb.location}]]</td>
                  <td >[[${jobb.telephone}]]</td>
                  <td >[[${jobb.datepost}]]</td>
                  <td><a href="registrationForm" class="btn btn-info" role="button">Apply✅</a></td>
              </tr>

              </tbody>
          </table>
          <hr/>
      </div>

<!--           <form action="" method="post" th:action="@{/bluelistItemForm}" >-->
<!--            <h2 class = "mt-4"> Post Job</h2>-->

<!--            <hr/>-->

<!--            <div class = "form-group row ">-->
<!--               <div class="col-sm-8">-->
<!--        			<span class="text-danger" > </span>      -->
<!--      			</div>-->
<!--            </div>-->
<!--            <div class = "form-group row ">-->
<!--               <label for = "title" class = "col-sm-2 col-form-label">User</label>-->
<!--               <div class = "col-sm-4">-->
<!--                  <input type = "text" class = "form-control" placeholder = "" id="title">-->
<!--               </div>-->
<!--               <div class="col-sm-4">-->
<!--        -->
<!--      			</div>-->
<!--            </div>-->
<!--            -->
<!--            <div class = "form-group row ">-->
<!--               <label for = "rating" class = "col-sm-2 col-form-label mr-0"> Job title </label>-->
<!--               <div class = "col-sm-4">-->
<!--                  <input type = "text"  id ="rating" class =  "form-control" placeholder = "">-->
<!--               </div>-->
<!--               <div class="col-sm-4">-->
<!--        			-->
<!--      			</div>-->
<!--            </div>-->
<!--               -->
<!--            <div class = "form-group row ">-->
<!--               <label for = "priority" class = "col-sm-2 col-form-label mr-0"> Location</label>-->
<!--               <div class = "col-sm-4">-->
<!--                  <input    type = "text"  id ="priority" class = "form-control" placeholder = "">-->
<!--               </div>-->
<!--            </div>-->
<!--            <div class = "form-group row">-->
<!--            	<label for = "comments" class = "col-sm-2 col-form-label">Telephone</label>-->
<!--            	<div class = "col-sm-4">-->
<!--                    <input    type = "text"  id ="comments" class = "form-control" placeholder = "">-->
<!--               </div>-->
<!--            </div>-->
<!--               <div class = "form-group row">-->
<!--                   <label for = "datepost" class = "col-sm-2 col-form-label">Telephone</label>-->
<!--                   <div class = "col-sm-4">-->
<!--                       <input    type = "text"  id ="datepost" class = "form-control" placeholder = "">-->
<!--                   </div>-->
<!--               </div>-->
<!--            <div class = "form-group row">-->
<!--               <div class = "col-sm-10">-->
<!--                -->
<!--                  <button type = "submit" class = "btn btn-primary">Submit</button>-->
<!--               </div>            -->
<!--            </div>-->
<!--            -->
<!--         </form>-->

      <div class="row">

          <div class="col-md-2">

          </div>
          <div class="col-md-4">
              <img src="/images/blue3.jpeg" width="400px" alt="blue image" class="rounded-circle teamimages">
              <h3>BLUE COLLAR APP</h3>
          </div>


          <div class="col-md-6">
              <form action="" method="post" th:action="@{/bluelistItemForm}" th:object="${job}">
                  <h2 class = "mt-4"> Post Job</h2>
                  <hr/>
                  <div class = "form-group row ">
                      <div class="col-sm-8">
                          <span class="text-danger" > </span>
                      </div>
                  </div>
                  <div class = "form-group row ">
                      <label  for = "user" class = "col-sm-2 col-form-label">User 👤</label>
                      <div class = "col-sm-4">
                          <input id="user" placeholder="" required type="text" th:field="*{user}"/>

                      </div>
                      <div class="col-sm-4">

                      </div>
                  </div>

                  <div class = "form-group row ">
                      <label for = "jobTitle" class = "col-sm-2 col-form-label mr-0"> Job title </label>
                      <div class = "col-sm-4">
                          <input id="jobTitle" placeholder="" required type="text" th:field="*{jobTitle}"/>

                      </div>
                      <div class="col-sm-4">

                      </div>
                  </div>

                  <div class = "form-group row ">
                      <label for = "location" class = "col-sm-2 col-form-label mr-0"> Location </label>
                      <div class = "col-sm-4">
                          <input id="location" placeholder="" required type="text" th:field="*{location}"/>

                      </div>
                  </div>
                  <div class = "form-group row">
                      <label for = "telephone" class = "col-sm-2 col-form-label">Telephone ️</label>
                      <div class = "col-sm-4">
                          <input id="telephone" placeholder="" required type="text" th:field="*{telephone}"/>

                      </div>
                  </div>
                  <div class = "form-group row">
                      <label for = "datepost" class = "col-sm-2 col-form-label">Date Posted  </label>
                      <div class = "col-sm-4">
                          <input id="datepost" placeholder="" required type="text" th:field="*{datepost}"/>

                      </div>
                  </div>
                  <div class = "form-group row">
                      <div class = "col-sm-10">

                          <button type = "submit" class = "btn btn-primary">Submit</button>
                      </div>
                  </div>

              </form><br/><br/>
              <div class="icons">
                  <img src="/images/facebook.png" alt="">
                  <img src="/images/g_plus.png" alt="">
                  <img src="/images/skype.png" alt="">
                  <img src="/images/twitter.png" alt="">
                  <img src="/images/you_tube.png" alt="">

              </div>
          </div>

      </div>

      </div>
   </div>

   </body>
</html>