<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<link rel="stylesheet" href="templates/style.css">

<title>Blue Collar App</title>
</head>

<body>
	<div class="container">
	<div class="container-fluid" id="about-us">
      <center >Meet Our Team</center>
        <center>"If workers of the world want to win all they have to do is recognise their own solidarity"</center>
        </p>

      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <img src="/images/blue2.jpeg" width="400px" alt="blue image" class="rounded-circle teamimages">
          <h3>BLUE COLLAR APP</h3>
            <li>
                <a href="signup"> <button type="submit" class="btn btn-black" id="signup"> Sign Up </button> </a>
            </li>
            <hr/>
            <li>
                <a href="login"><button type="submit" class="btn btn-black" id="signup">Login</button></a>
            </li>
        </div>
        <div class="col-md-4">
        </div>
      </div>
        <div class="container-fluid final-top">
            <div class="row">
                <div class="col-md-4 offset-md-1"><br>
                    <h5 class="text-white">Feel free to subscribe for more details</h5>
                    <form class="sub" action="index.html" method="post">
                        <div class="fomr-group">
                            <label class="text-white" > <small>Names</small> </label>
                            <input type="text" class="form-control" name="" value="" id="name">
                        </div>
                        <div class="fomr-group">
                            <label class="text-white" > <small>Email</small> </label>
                            <input type="email" class="form-control" name="" value="" id="email">
                        </div><br>
                        <button type="submit" class="btn btn-primary" name="button">Subscribe</button>
                    </form>
                </div>
                <div class="col-md-4 offset-md-2 final">
                    <h4 class="text-white">Find us on</h4>
                    <div class="icons">
                        <img src="/images/facebook.png" alt="">
                        <img src="/images/g_plus.png" alt="">
                        <img src="/iamges/skype.png" alt="">
                        <img src="/images/twitter.png" alt="">
                        <img src="/images/you_tube.png" alt="">

                    </div>
<!--                    <div class="links">-->
<!--                        <a href="index.html" class="card-link">Home</a>|-->
<!--                        <a href="services.html" class="card-link">Services</a>|-->
<!--                        <a href="plumber.html" class="card-link">Constraction</a>-->
<!--                    </div>-->

                </div>
            </div>
        </div>
        <div class="bottom">
            <small>Made with  <img src="assets/constraction/love.png" alt="" width="15px"> </small>
        </div>
    </div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>