

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="templates/style.css">

    <title>Blue Collar App</title>
</head>

<body>
<div class="container">
    <nav class = "navbar navbar-expand-sm navbar-dark bg-secondary">
        <a class = "navbar-brand" href = "/">BlueCollar App</a>
        <button class = "navbar-toggler" type = "button" data-toggle = "collapse"
                data-target = "#navbarSupportedContent"
                aria-controls = "navbarSupportedContent" aria-expanded = "false"
                aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
            <ul class = "navbar-nav mr-auto">
                <li class = "nav-item">
                    <a class = "nav-link active" href = "">HOME</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "service"> SERVICE</a>
                </li>
                <li class = "nav-item ">
                    <a class = "nav-link" href = "about">ABOUT US</a>
                </li>
                <li class = "nav-item ">
                    <a class = "nav-link" href = "contact">CONTACT US</a>
                </li>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </ul>

        </div>
    </nav>
    <div class="container-fluid" id="about-us">
        <center > <h>Meet Our Team Expert</h></center>
        <center> <img th:src="@{/images/logo.png}" alt="" width="300px"></center>
        <center><h4>If the workers of the world want to win, all they have to do is recognize their own solidarity</h4></center>
        <div class="container">
            <table class="table">
                <thead class = "thead-light">
                <tr>
                    <th class="text-left">User 👤</th>
                    <th class="text-left">Job title ☑</th>
                    <th class="text-left">Location 📍</th>
                    <th class="text-left">Telephone ☎</th>
                    <th class="text-left">Posted Date 📅</th>
                    <th class="text-left">Apply Job 🧑‍💼 </th>

                </tr>
                </thead>
                <tbody>
                <td> o votes </td>
                <td>0 answers</td>
                <td> 4 views </td>
                <tr>
                    <td>User1</td>
                    <td> Plumber </td>
                    <td > Iowa,FA</td>
                    <td>012345678</td>
                    <td>10/25/2022</td>
                    <td><a href="registrationForm" class="btn btn-info" role="button"> Apply✅</a></td>
                </tr>
                <tr>
                    <td>Hidri</td>
                    <td> Welder </td>
                    <td > Ottuma,IA</td>
                    <td>1645464789</td>
                    <td>10/24/2022</td>
                    <td><a href="registrationForm" class="btn btn-info" role="button"> Apply✅</a></td>
                </tr>
                <tr th:each="jobb: ${listjob}">
                    <td >[[${jobb.user}]]</td>
                    <td >[[${jobb.jobTitle}]]</td>
                    <td >[[${jobb.location}]]</td>
                    <td >[[${jobb.telephone}]]</td>
                    <td >[[${jobb.datepost}]]</td>
                    <td><a href="registrationForm" class="btn btn-info" role="button">Apply✅</a></td>
                </tr>

                </tbody>
            </table>
            <hr/>
        </div>
        <div class="row">


            <div class="col-md-3">
                <img src="/images/blue3.jpeg" width="400px" alt="blue image" class="rounded-circle teamimages">
                <h3>BLUE COLLAR APP</h3>
            </div>
            <div class="col-md-2">

                </div>

            <div class="col-md-7">
                <form  method="post" th:action="@{/job}" th:object="${job}">
                    <h2 class = "mt-4"> Post Job</h2>
                    <hr/>
                    <div class = "form-group row ">
                        <div class="col-sm-8">
                            <span class="text-danger" > </span>
                        </div>
                    </div>
                    <div class = "form-group row ">
                        <label  for = "user" class = "col-sm-2 col-form-label">User</label>
                        <div class = "col-sm-4">
                            <input id="user" placeholder="" required type="text" th:field="*{user}"/>

                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>

                    <div class = "form-group row ">
                        <label for = "jobTitle" class = "col-sm-2 col-form-label mr-0"> Job title </label>
                        <div class = "col-sm-4">
                            <input id="jobTitle" placeholder="" required type="text" th:field="*{jobTitle}"/>

                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>

                    <div class = "form-group row ">
                        <label for = "location" class = "col-sm-2 col-form-label mr-0"> Location</label>
                        <div class = "col-sm-4">
                            <input id="location" placeholder="" required type="text" th:field="*{location}"/>

                        </div>
                    </div>
                    <div class = "form-group row">
                        <label for = "telephone" class = "col-sm-2 col-form-label">Telephone</label>
                        <div class = "col-sm-4">
                            <input id="telephone" placeholder="" required type="text" th:field="*{telephone}"/>

                        </div>
                    </div>
                    <div class = "form-group row">
                        <label for = "datepost" class = "col-sm-2 col-form-label">Date Posted</label>
                        <div class = "col-sm-4">
                            <input id="datepost" placeholder="" required type="text" th:field="*{datepost}"/>

                        </div>
                    </div>
                    <div class = "form-group row">
                        <div class = "col-sm-10">

                            <button type = "submit" class = "btn btn-primary">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="container-fluid final-top">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><br>
                    <div>
                        <a th:href="@{/registrationForm}">Go to bluecollarItem</a>

                    </div>
                    <div class="icons">
                        <img src="/images/facebook.png" alt="">
                        <img src="/images/g_plus.png" alt="">
                        <img src="/images/skype.png" alt="">
                        <img src="/images/twitter.png" alt="">
                        <img src="/images/you_tube.png" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


</body>
</html>