<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/logo.png">
  <title>Create New Employee</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<nav class = "navbar navbar-expand-sm navbar-dark bg-secondary">
    <a class = "navbar-brand" href = "/static">BlueCollar App</a>
    <button class = "navbar-toggler" type = "button" data-toggle = "collapse"
            data-target = "#navbarSupportedContent"
            aria-controls = "navbarSupportedContent" aria-expanded = "false"
            aria-label = "Toggle navigation">
        <span class = "navbar-toggler-icon"></span>
    </button>

    <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
        <ul class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class = "nav-link active" href = "/static">HOME</a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link" href = "service"> SERVICE</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link" href = "about">ABOUT US</a>
            </li>
            <li class = "nav-item ">
                <a class = "nav-link" href = "contact">CONTACT US</a>
            </li>
        </ul>

    </div>
</nav>
<div class="container">

<div class="container my-3">
    <center > <h>Meet Our Team Expert</h></center>
    <center> <img th:src="@{/images/logo.png}" alt="" width="300px"></center>
    <center><h4>If the workers of the world want to win, all they have to do is recognize their own solidarity</h4></center>
  <div class="row">
    <div class="col-md-8 mx-auto">

      <form th:action="@{/registrationForm}" th:object="${bluecollarItem}" method="post">
<!--        <form action="" method="post" th:action="@{/bluelistItemForm}" th:object="${bluecollarItems}">-->
          <h2 class = "mt-4"> Apply Job</h2>

          <hr/>

          <div class = "form-group row ">
            <div class="col-sm-8">
              <span class="text-danger" > </span>
            </div>
          </div>
          <div class = "form-group row ">
            <label for = "user" class = "col-sm-2 col-form-label">User</label>
            <div class = "col-sm-4">
              <input type = "text" class = "form-control" placeholder = "" id="user">
            </div>
            <div class="col-sm-4">

            </div>
          </div>
          <div class = "form-group row">
              <label for = "gender" class = "col-sm-2 col-form-label">Gender</label>
              <div class = "col-sm-4">
                  <input    type = "text"  id ="gender" class = "form-control" placeholder = "">
              </div>
          </div>

          <div class = "form-group row ">
            <label for = "joobtitle" class = "col-sm-2 col-form-label mr-0"> Job title </label>
            <div class = "col-sm-4">
              <input type = "text"  id ="joobtitle" class =  "form-control" placeholder = "">
            </div>
            <div class="col-sm-4">

            </div>
          </div>

          <div class = "form-group row ">
            <label for = "location" class = "col-sm-2 col-form-label mr-0"> Location</label>
            <div class = "col-sm-4">
              <input    type = "text"  id ="location" class = "form-control" placeholder = "">
            </div>
          </div>
          <div class = "form-group row">
            <label for = "telephone" class = "col-sm-2 col-form-label">Telephone</label>
            <div class = "col-sm-4">
              <input    type = "text"  id ="telephone" class = "form-control" placeholder = "">
            </div>
          </div>
          <div class = "form-group row">
              <label for = "email" class = "col-sm-2 col-form-label">Email</label>
              <div class = "col-sm-4">
                  <input    type = "text"  id ="email" class = "form-control" placeholder = "">
              </div>
          </div>

          <div class = "form-group row">
            <div class = "col-sm-10">

              <button type = "submit" class = "btn btn-primary">Submit</button>
            </div>
          </div>

        </form>
    </div>
  </div>
</div>



</div>
</body>
</html>