<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>BlueCollar App</title>
</head>

<body>
	<div class="container">
        <nav class="navbar sticky-top navbar-light bg-light">
            <a class = "navbar-brand" href = "">BlueCollar App</a>
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" 
               data-target = "#navbarSupportedContent" 
               aria-controls = "navbarSupportedContent" aria-expanded = "false" 
               aria-label = "Toggle navigation">
               <span class = "navbar-toggler-icon"></span>
            </button>
            
           <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
               <ul class = "navbar-nav mr-auto">

                  <li class = "nav-item">
                     <a class = "nav-link" href = "service">SERVICE</a>
                  </li>
                  <li class = "nav-item ">
                     <a class = "nav-link" href = "about">ABOUT US</a>
                  </li>
                  <li class = "nav-item ">
                     <a class = "nav-link" href = "contact">CONTACT US</a>
                  </li>
                   <li class = "nav-item ">
                       <a class = "nav-link" href = "bluelistItemForm">POST JOB </a>
                   </li>
                   <li class = "nav-item ">
                       <a class = "nav-link" href = "blueLive">LIVE CHAT </a>
                   </li>
                  <li>
                  <button type="button" class="btn btn-black" id="logOut" name="button"><a href="login">logOut</a></button>
                   </li>
               </ul>
               
            </div>
      	</nav> 

		
		<div class="container-fluid top-s">
            <center> <img th:src="@{/images/logo.png}" alt="" width="300px"></center>
            <center>  <h3>SERVICES</h3> </center>
            <center><h4>If the workers of the world want to win, all they have to do is recognize their own solidarity</h4></center>
            <center><h5>Below are the services we offer. please select any according to your problem</h5></center>
                 
         </div>
   <div class="row">
        <div class="col-md-3">
          <div class=" serve serve1">
           <img th:src="@{/images/plumber.jpeg}" class="card-img-top" alt="happy for clients">
            <a href="location">
            <h4 id="text-worker">Plumber</h4>
        </a>
      </div>
        </div>
        <div class="col-md-3">
          <div class=" serve serve1">
              <img th:src="@{/images/gardner.png}" class="card-img-top" alt="happy for clients">
        <a href="location">
          <h4 id="text-worker">Gardener</h4>
        </a>
      </div>
        </div>
        <div class="col-md-3">
         <div class=" serve serve1">
             <img th:src="@{/images/carpenter.jpeg}" class="card-img-top" alt="happy for clients">
             <a href="location">
          <h4 id="text-worker">Carpenter</h4>
        </a>
      </div>
        </div><div class="col-md-3">
          <div class=" serve serve1">
              <img th:src="@{/images/roofer.jpeg}" class="card-img-top" alt="happy for clients">
              <a href="location">
          <h4 id="text-worker">Roofer</h4>
        </a>
      </div>
        </div>

      </div>
       <br><br/><br/>
       <div class="row">
        <div class="col-md-3">
          <div class=" serve serve1">
              <img th:src="@{/images/painter.jpeg}" class="card-img-top" alt="happy for clients">
              <a href="location">
          <h4 id="text-worker">Painter</h4>
        </a>
      </div>
        </div>
        <div class="col-md-3">
          <div class=" serve serve1">
              <img th:src="@{/images/constructor.jpeg}" class="card-img-top" alt="happy for clients">
              <a href="location">
          <h4 id="text-worker">Construtor</h4>
        </a>
      </div>
        </div>
        <div class="col-md-3">
         <div class=" serve serve1">
             <img th:src="@{/images/welder.jpeg}" class="card-img-top" alt="happy for clients">
             <a href="location">
          <h4 id="text-worker">Welder</h4>
        </a>
      </div>
        </div><div class="col-md-3">
          <div class=" serve serve1">
              <img th:src="@{/images/electrican.jpeg}" class="card-img-top" alt="happy for clients">
              <a href="location">
          <h4 id="text-worker">Electricans</h4>
        </a>
      </div>
        </div>

      </div>
      <br><br/><br/>
      
        <div class="container-fluid" id="blue-bk">
    <h3>Why Us</h3>
    <div class="row"><br><br>
      <div class=" col-md-4" id="happy">
        <div class="img">
            <img th:src="@{/images/cert1.png}" class="card-img-top" alt="happy for clients">

        </div>
        <h5 class="card-title">Certification</h5>
        <p class="card-text">Our handymen are certified and highly experienced professionals.!</p>
      </div>
      <div class=" col-md-4" id="happy">
        <div class="img">
            <img th:src="@{/images/cert2.png}" class="card-img-top" alt="happy for clients">

        </div>
        <h5 class="card-title">Flexiblity</h5>
        <p class="card-text">Having a hard time with your toilet in the middle of the night? Call us!
        </p>
      </div>
      <div class=" col-md-4" id="happy">
        <div class="img">
            <img th:src="@{/images/cert3.png}" class="card-img-top" alt="happy for clients">
        </div>
        <h5 class="card-title">Fair Price</h5>
        <p class="card-text">We aren't cheapest, but we won't ruin your wallet either. We promise!t? Call us!
        </p>
      </div>
    </div>
<br/><br/><br/>
<br/><br/><br/>

    <h3 class="comment"> Hear From Our Happy Clients</h3>
    <div class="row cust"><br><br>
     <div class=" col-md-4 cust-d" id="cust2">
         <img th:src="@{/images/cust1.png}" class="card-img-top" alt="happy for clients">
        <h5 class="card-title">John</h5>
        <p class="card-text"> one of the the services in ususally actives of my life!</p>
      </div>
      <div class=" col-md-4 cust-d" id="cust2">
          <img th:src="@{/images/cust2.png}" class="card-img-top" alt="happy for clients">
        <h5 class="card-title">alex</h5>
        <p class="card-text"> one of the the services in ususally actives of my life!</p>
      </div>
      <div class="col-md-4 cust-d" id="cust3">
          <img th:src="@{/images/cust3.jpeg}" class="card-img-top" alt="happy for clients">
        <h5 class="card-title">Linda</h5>
        <p class="card-text"> Wow.... everythings was amazing services.The workers adn the price! </p>
      </div>
      <br/><br/><br/>
   
    </div>
  </div>
      
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>